.header {
  position: relative;
  width: 100%;
}

.headerImage {
  width: 100%;
  height: auto;
  object-fit: cover;      
  display: block;     
}

.headerText {
  padding: 5px 35px;
}

.headerText h1 {
  font-size: 1.6rem;
  color: #202124;
  margin-bottom: 5px;
}

.headerText p {
  font-size: 0.95rem;
  color: #5f6368;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
